:root {
    --accent: #4D1434;
    --background: #EBEBEB;
}

body {
    background-color: var(--background);
    margin: 0;
}

div {
    padding: 10px;
}

a {
    text-decoration: none;
}

.title-bar {
    display: grid; 
    background-color: var(--accent);
    color: white;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 5rem;
    color: white;
}

.subtitle {
    font-size: 1.5rem;
}

.keyvisdiv {
}

.keyvis {
    height: 50vh;
}

.dev-log {
    min-height: 25vh;
}

.log-entry {
    background-color: white;
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

.dd-embed {
    width: 100%;
    height: 70vh;
    border: none;
}

.socials {
    text-align: center; 
    background-color: var(--accent);
}

.socials img {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}